
.menu li{
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.menu li a{
    font-size: 20px;
    text-decoration: none;
    color: #000;

}

.menu li:hover{
    background-color: red;
}
.menu a:hover{
    color: #fff;
}
